@-moz-document domain("gemini.google.com") {
hallucination-disclaimer {
    display: none;
}
div.right-section {
    display: none !important;
}
.desktop-ogb-buffer {
    display: none;
}
.sidenav-with-history-container .gems-list-container {
    display: none;
}
.sidenav-with-history-container .explore-gems-container {
    display: none;
}
immersive-panel {
    margin-bottom: 0px !important;
}
.response-container-footer .buttons-container-v2:before {
    display: none !important;
}
:root .dark-theme {
    --gem-sys-color--on-surface: #d0d7df;
    --gem-sys-color--surface-container: #1b1c1d;
    --gem-sys-color--surface: #282A2C;
    --gem-sys-color--surface--rgb: 40, 42, 44;
    --mat-dialog-container-color: #282A2C;
}
.avatar-gutter {
    display: none !important;
}
@media (min-width: 1920px) {
    bard-sidenav {
        --bard-sidenav-open-width: 340px !important;
    }
    bard-mode-switcher {
        --bard-sidenav-open-closed-width-diff: 270px !important;
    }
}
}
