@-moz-document domain("gemini.google.com") {
hallucination-disclaimer {
    display: none;
}
upsell-button {
    display: none;
}
.desktop-ogb-buffer {
    display: none;
}
.dark-theme .markdown {
   color: #d0d7df !important;
}
.sidenav-with-history-container bot-list {
    display: none;
}
}
